# Nuxt
.output
.nuxt
dist

# Node
node_modules
.npm
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
*.log
.pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
.cache/
